*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 110px;
    background-color: #333;
    align-items: center;
}
.navbar .logo{
    background-color: rgb(18, 255, 5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
} 
.navbar .logo:hover{
background-color: rgb(7, 94, 14);
font-size: 30px;
color: aliceblue;
}
.links {
    display: flex;
    gap: 40px;
    cursor: pointer;
    
}
.links li{
    list-style-type: none;
}
.links li > a{
    text-decoration: none;
    color: rgb(245, 225, 189);
    
}
.links li > a:hover{
    border-bottom: 1px solid rgb(94, 255, 94);
}
.navbar .search{
    background-color: wheat;
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 250px;
    width: 280px;
    cursor: pointer;
}
.container{
    width: 100%;
    background-color: rgb(48, 248, 255);
   height: calc(100vh - 110px);
}
.container .bgimg{
    background-image: url("./assets/images/img2.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
   
}
.container .bgimg::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
     width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    position: absolute;
}
.text{
    color: white;
    z-index: 1;
    width: 50%;
}
.text h1{
    /* color: rgb(248, 239, 224); */
    font-size: 69px;
    font-weight: bolder;
   
}
.text p{
   margin-top: 20px;
}
.btns{
    display: flex;
    gap: 30px; 
    margin-top: 25px; 
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 1;
}
.btns1{
    width: 130px;
    padding: 15px;
    background-color: rgb(10, 255, 10);
    border-radius: 15px;
     border: 0;
     cursor: pointer;
   
}
.btns2{
    width: 130px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
   
}
.btns1:hover{
    background-color: #333;
    font-weight: bolder;
    font-size: 25px;
    color: wheat;
    transition: 1s ease-in-out 0.3s ;
}
.btns2:hover{
    background-color: #333;
    font-weight: bolder;
    font-size: 25px;
    color: wheat;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.3s;
}
